
html {
    height: 100%;
}

header {
    text-align: center;
    text-shadow: 3px 3px black;
}

body {
    font-family: 'Gudea', sans-serif;
    font-size: 2.5em;
    color: #fff;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 50%, #dd7dd3 100%);
    }

.calculator {
    width: 450px;
    background: rgba(250, 250, 250, 0.75);
    margin: 60px auto;
    position: relative;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 4px 4px 5px black;
}

.calculator-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

#display {
    font-family: 'Play', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 338px;
    background-color: #85bbc1;
    color: black !important;
    opacity: 0.6;
    padding: 10px 20px;
    margin-top: 45px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: inset 2px 3px 5px black;
}

.buttons {
    display: table;
    margin-bottom: 30px;
    border-radius: 5px;
}

.numbers, .operators {
    border-radius: 50%;
}

.operators {
    background-color: #c289bb !important;
}

.buttons a {
    display: flex;
    width: 60px;
    height: 60px;
    margin: 0 20px 20px 0;
    margin-bottom: 20px;
    float: left;
    background-color: #888;
    justify-content: center;
    align-items: center;
    padding: 10px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 6px 0px #434343;
    -moz-box-shadow: 0px 6px 0px #434343;
    box-shadow: 0px 6px 0px #434343;
}

.buttons a:hover {
    cursor: pointer;
}

.buttons a:active{
    -webkit-box-shadow: 0px 2px 0px #434343;
    -moz-box-shadow: 0px 2px 0px #434343;
    box-shadow: 0px 2px 0px #434343;
    position:relative;
    top:4px;
}

.buttons a:nth-child(4n) {
    margin-right: 0;
}

.operators a:nth-child(3) {
    font-size: .8em;
    padding: 15px;
}

.operators a:last-child {
    padding: 20px;
}

#clear {
    background-color: #FFC0CB; /*pink*/
}

footer {
    text-align: center;
    font-size: 20px;
} 